version: '3.8'

services:
  bot:
    build: .
    container_name: vocchi-bot
    volumes:
      - ./db:/app/db
      - ./.env:/app/.env
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - TZ=Asia/Taipei
